<h1 style="margin-top:50px;">All Posts</h1>
<ul class="nav nav-pills">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li>
	  <a href="/add">Add</a>
	</li>
</ul>
<div style="margin-top:50px;">
<% if @data %>	
  <% @data.each do |r|%>
	  <h4>Author: <%= r["Author"]["Name"] %></h4>
	  <h4>Title: <%= r["Title"] %></h4>
	  <h4>Text: <%= r["Text"] %></h4>
	  <hr>
  <% end %>	
<% end %>	
</div>
